
 
 .modal-header {
     background-color:#0ab2f5;
     color: white;
 }
 
 
 .modal-dialog{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

 }
 button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 }
 .messageWrapper{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 3px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: white;
    
     
 }


 ion-icon {
    font-size: 37px;
   color: white;
  }

  .sendWrapper{
  
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;  
    word-wrap: break-word;    
    width:100%;
    background-color:#f58b82;
    border-radius:7% 19% 30% 7% / 50% 100% 0% 60%   ;
    margin-top:20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 5px;
    margin-left: -60px;
    text-align: right;-



   
 }
 .recieveWrapper{
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;  
    word-wrap: break-word;    
    width:100%;
    background-color:#87d4f5;
    border-radius:19% 7% 7% 0% / 95% 46% 54% 0%  ;
    margin-top:20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 5px;
    margin-left: 60px;

}

.text{
    margin-top:-19px;
    float:right;
    margin-right:60px;
    font-size: 10px;
    text-align:left;
}
.text2{
        margin-top:-19px;
        font-size: 10px;
        margin-left: 60px;
        text-align: left;
    }

#img{
   margin-top:40px;
    width: 90%;
}
.user1{

width: 50px;
float: right;
margin-top: 12px;
    



}
.user2{
    
    width: 50px;
    float: left;
    
    margin-top: 12px;
    
}

